# ---------------------------
# Control de versiones
# ---------------------------
.git/
.gitignore

# ---------------------------
# Docker y Compose
# ---------------------------
Dockerfile
Dockerfile*
docker-compose*
compose.y*ml



.idea
.vscode

Dockerfile
docker-compose.yml

### Variables de entorno ###
*.env
.env
.env.docker
**/*.env
*/*.env